
.h {
     text-align: center;
     font-size: 70px;
    
}
.h1{
    font-size: 45px;
    margin-left: 10px;
}
.img1{
    float: right;
    width: 300;
    height: 400;

}
.para{
    font-size: 30px;
    margin-left: 10px;
    margin-right: 370px;
}
.h2{
    font-size: 35px;
    margin-left: 10px;
}
.para1{
    font-size: 25px;
    margin-left: 10px;
}
.img2{
    width: 300;
    height: 400;
    margin-left: 100px;

}
.h3{
    font-size: 35px;
    margin-left: 10px;
}
.para2{
    font-size: 25px;
    margin-left: 10px;
    margin-right: 250px;
}
.img3{
    width: 300;
    height: 400;
    margin-left: 250px;

}
.tab{
    font-size: 20px;
}
.head{
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: red;
}
.link1{
    font-size: 40px;
}
.link2{
    font-size: 40px;
}
.link3{
    font-size: 40px;
}
.link4{
    font-size: 40px;
}