
.top-container{
    display: flex;
    margin-top: 0%;
}

.top-left-container{
    justify-content: left;
    display: flex;
    margin-left: 1%;
}
.top-right-container{
    display: flex;
    justify-content: right;
    margin-left: 38%;
    font-size: small;
}
#account{
    display: flex;
}
#act{
    margin-right: 6px;
}
#cur{
    border: none;
}
#lang{
    border: none;
    padding-left: 50px;
}
#vline{
    margin-left: 30%;
    margin-top: 7%;
}
#list{
    display: flex;
    font-size:large;
    list-style: none;
    justify-content:  left;
    
   
}
#list li{
    padding-left: 20px;
    font-family: 'Times New Roman', Times, serif;
}
#hz{
   margin-left: 0%;
   margin-right: 0%;
}
.top-below-container{
    display: flex;
    margin-top: 0%;
    margin-top: 2%;
    width: 100%;
}
.top-below-left-container{
    justify-content: left;
    display: flex;
    margin-left: 1%;
   width: 15%;
}
.top-below-middle-container{
    justify-content: left;
    display: flex;
    margin-left: 4%;
    border: 2px  red solid;
    width: 45%;
    height: 8vh;
   margin-top: 20px;
  
}
.top-below-right-container{
    justify-content: left;
    display: flex;
    margin-left: 5%;
   
}
#find{
   border: none;
    width: 250px;

}
#contact{
    padding-left: 10%;
}
#cat{
    border: none;
    padding-left: 1%;
    margin-right: 4%;
}
#wish{
    padding-left: 10%;
    font-size: large;
}
#comp{
    padding-left: 10%;
    font-size: large;
}
#cart{
    padding-left: 10%;
    font-size: large;
}
.inner-container{
    width: 100%;
    background-color: black;
    display: flex;
}
.inner-left-container{
    width: 20%;
    display:block;
    margin-left: 2%;
}
.inner-left-container button {
    background-color: rgb(243, 44, 44);
    width: 100%;
    color: white;
    border: none;
    font: bolder;
    
}

#categories{
    height: 10vh;
    border: none;
    background-color: rgb(243, 44, 44);
    width: 100%;
    color: white;
    font: bold;
    font-size: medium;
}
#categories option{
    background-color: white;
    color: black;
}
#categories option:nth-child(1){
    display: none;
}
#inner-list{
    display: flex;
    font-size:large;
    list-style: none;
    justify-content:  left;
    color: white;
    margin-left: 0px;
   
}

#inner-list li{
    padding-right: 20px;

}
.inner-middle-container{
    display: flex;
    width: 50%;
} 
 .inner-right-container{
    display: flex;
    width: 20%;
}
#inner-list2{
    display: flex;
    font-size:large;
    list-style: none;
    justify-content:  right;
    color: white;
   
    
}
#inner-list2 li{
    padding-left: 8px;
   text-align: right;
}
.sub-inner-container{
    background-color: white;
    width: 100%;
    height: 10vh;
    display: flex;
}
.sub-inner-left-container{
    padding-top: 10%;
    padding-left:25%;
    position: relative;
    
}
.sub-inner-left-container p{
    font-size:x-large;
    color: rgb(252, 58, 58);
    font: bold;
    
}
.sub-inner-left-container h1{
    font-size:50px;
    padding: 0;margin:0;
}
.sub-inner-left-container h4{
    font-size: 30px;
    font-weight: 500;padding: 5px;margin: 0;
}
.sub-inner-left-container h6{
    font-size: large;
    padding: 2px;margin: 0;
}
.sub-inner-left-container button{
    width: 60%;
    height: 8vh;
    font-weight:bold;
    padding: 0;margin-top: 30px;
    background-color: white;
    display: block;
    /* position: relative; */
    overflow: hidden;
}
button{
    overflow: hidden;
}

/* .sub-inner-left-container button::before {
    content: "";
    position: absolute;
    width: 5%;
    height: 150px;
    background-color: aqua;
    top: 280px;left: 310px;
   /* left: 90;top: 90; */
    transform: rotate(50deg);
    transition: all 0.5s linear;
}

.sub-inner-left-container button:hover:before {
    content: "";
    position: absolute;
    width: 5%;
    height: 150px;
    /* background-color: rgb(0, 0, 0); */
    top: 350px;left: 500px;

    /* transform: rotate(50deg); */
} */

.sub-inner-right-container{
    padding-top: 5%;
    margin-left: 5%;
}
.sub-inner-right-container img{
   height: 60vh;
}
#sub-img1{
    width: 70px;
    height: auto;
    margin-top: 10%;
    margin-left: 0%;
    border-radius: 50%;
    border: 2px red solid;
    overflow: hidden;
    display: inline;
    padding: 2%;
  
}
#sub-img2{
    width: 50px;
    height: auto;
    margin-top: 10%;
    margin-left: 5%;
    border-radius: 50%;
    border: 2px gray solid;
    overflow: hidden;
    display: inline;
    padding: 2%;
}
#sub-img3{
    width: 70px;
    height: auto;
    margin-top: 10%;
    margin-left: 5%;
    border-radius: 50%;
    border: 2px gray solid;
    overflow: hidden;
    display: inline;
    padding: 2%;
}
.middle-container{
    margin-top: 35%;
    margin-left: 5%;
    display: flex;
}
.child1-middle-container{
    width: 22.5%;
    height: 15vh;
    font-size: large;
    border: 1px solid grey;
}
.child2-middle-container{
    width: 22.5%;
    height: 15vh;
    margin-left: 2%;
    font-size: large;
    border: 1px solid grey;
}
.child3-middle-container{
    width: 22.5%;
    height: 15vh;
    margin-left: 2%;
    font-size: large;
    border: 1px solid grey;
}
.child4-middle-container{
    width: 22.5%;
    height: 15vh;
    margin-left: 2%;
    font-size: large;
    border: 1px solid grey;
}
#child1-para1{
    padding-left: 60px;
  padding-top: 30px; 
  margin: 0%; 
   /* padding-bottom: 0%; */
  font-size: large;
  font-weight: bolder;
  position: absolute;
}
#child1-para2{
    padding-left: 60px;
  padding-top: 50px; 
  position: absolute;
  margin: 0%; 
   /* padding-bottom: 0%; */
  font-size: large;
  font-weight:lighter;
  
}
#child1-icon{
    padding-top: 40px;
    padding-left: 20px;
    position: absolute;
  }
  #child2-para1{
    padding-left: 70px;
  padding-top: 30px; 
  margin: 0%; 
   /* padding-bottom: 0%; */
  font-size: large;
  font-weight: bolder;
  position: absolute;
}
#child2-para2{
    padding-left: 70px;
  padding-top: 50px; 
  position: absolute;
  margin: 0%;
   /* padding-bottom: 0%; */
  font-size: large;
  font-weight:lighter;
  
}
#child2-icon{
    padding-top: 40px;
    padding-left: 20px;
    position: absolute;
  }


/* below-middle-container */

.below-middle-container{
    margin-top: 5%;
    margin-left: 5%;
    display: flex;
}
.child1-below-middle-container{
    width: 30%;
    height: 30vh;
    font-size: large;
    border: 1px solid grey;
    background-size: cover;
    background-color: #DEDAD9;
}
.child2-below-middle-container{
    width: 30%;
    height: 30vh;
    margin-left: 3%;
    font-size: large;
    border: 1px solid grey;
    background-color: #DEDAD9;
}
.child3-below-middle-container{
    width: 30%;
    height: 30vh;
    margin-left: 3%;
    font-size: large;
    border: 1px solid grey;
    background-color: #DEDAD9;
}
.child1-below-middle-container h1{
    padding-left: 6%;
    padding-top: 15%;
    margin: 0%;
    font-weight: bolder;
}
.child1-below-middle-container h4{
    padding-left: 6%;
    margin: 0%;
    font-weight: 600;
    display: flex;
}
.child1-below-middle-container h4 small{
    color: red;
    font-size: large;
}
.child1-below-middle-container button{
    border: none;
    padding-top: 10%;
    padding-left: 6%;
    font-weight: bold;
    font-size: medium;
    background-color: #DEDAD9;
}
.child1-below-middle-container img{
    float: right;
    height: 31vh;
}


.child2-below-middle-container h1{
    padding-left: 6%;
    padding-top: 15%;
    margin: 0%;
    font-weight: bolder;
}
.child2-below-middle-container h4{
    padding-left: 6%;
    margin: 0%;
    font-weight: 600;
    display: flex;
}
.child2-below-middle-container h4 small{
    color: red;
    font-size: large;
}
.child2-below-middle-container button{
    border: none;
    padding-top: 10%;
    padding-left: 6%;
    font-weight: bold;
    font-size: medium;
    background-color: #DEDAD9;
}
.child2-below-middle-container img{
    float: right;
    height: 25vh;
}


.child3-below-middle-container h1{
    padding-left: 6%;
    padding-top: 15%;
    margin: 0%;
    font-weight: bolder;
}
.child3-below-middle-container h4{
    padding-left: 6%;
    margin: 0%;
    font-weight: 600;
    display: flex;
}
.child3-below-middle-container h4 small{
    color: red;
    font-size: large;
}
.child3-below-middle-container button{
    border: none;
    padding-top: 10%;
    padding-left: 6%;
    font-weight: bold;
    font-size: medium;
    background-color: #DEDAD9;
}
.child3-below-middle-container img{
    float: right;
    height: 31vh;
}


span {
   font-size: x-large;
   font-weight: bolder;
   margin-left: 5%;
   display: flex;
   margin-top: 5%;
   width: fit-content;
}
.head2{
    float: right;
    font-size: medium;
    margin-top: 0%;
    margin-right: 3.5%;
}
hr {
    margin-left: 20%;
    margin-right: 11%; 
}


/* inside-container */
.inside-container{
    width: 95%;
    margin-left: 5%;
    display: flex;
}

.child1-inside-container{
    border: 2px red solid;
    width: 47.5%;
    height: 50vh;
    margin-top: 2%;
}
.child2-inside-container{
    border: 2px red solid;
    width: 47.5%;
    height: 50vh;
    margin-left: 1%;
    margin-top: 2%;
}
#img1{
    float: left;
    width: 300px;
    margin-top: 15%;
}
#img2{
    float: left;
    width: auto;
    margin-top: 35%;
    margin-left: 10%;
}
#con2-img{
    float: left;
    width: auto;
    margin-top: 50%;
    margin-left: 10%;
}
#con2-img2{
    float: left;
    width: auto;
    margin-top: 90%;
    margin-left: 10%;
}
#img-1{
    float: left;
    width: auto;
    margin-top: 45%;
}
#img-2{
    float: left;
    width: auto;
    margin-top: 80%;
    margin-left: 10%;
}
#con3-img2{
    float: left;
    width: auto;
    margin-top: 60%;
    margin-left: 10%;
}
.sub-child1-inside-container {
    width: 40%;
    height: 10vh;
    background-color: #EA3A3A;
    margin-top: 30%;
    margin-left: 2%;
    display: flex;

}
.con{
    margin-left: 50%;
    /* height: 50vh; */
      width: 50%;
    /* margin-left: 50%; */

}
.con2{
    margin-right: 10%;
    width: 10%;
    height: 10vh;
    display: block;
}
#sub-child1-p1{
    padding-left: 5%;
    /* padding-top: 2%; */
    color: white;
    font-weight: bold;
    font-size: larger;
    /* display: inline; */
}
#sub-child1-p2{
    padding-left: 5%;
    /* padding-top: 2%; */
    color: white;
    font-weight: bold;
    font-size: larger;
   
}
#sub-child1-p3{
    padding-left: 5%;
    /* padding-top: 2%; */
    color: white;
    font-weight: bold;
    font-size: larger;
    
}
#sub-child1-p4{
    padding-left: 10%;
    /* padding-top: 2%; */
    color: white;
    font-weight: bold;
    font-size: larger;
}
#child1-top1{
    padding: 0%;
    margin: 0%;
    
}
#child1-top2{
    
    margin: 0%;
}
#con-btn{
    margin-top: 10%;
    font-size: medium;
    width: 60%;
    height: 8vh;
}
#con-act{
    margin-left: 5%;
}





/* --three main divs-- in one section*/

/* ---top main con-- */

.top-main-con{
    display: flex;
    width: 90%;
    margin-top: 2%;
}
.sub1-top-con{
    
    width: 15%;
    height: 35vh;
    margin-left: 5%;
}
.sub2-top-con{
    width: 15%;
    height: 35vh;
    margin-left: 6.5%;
}
.sub3-top-con{
    width: 15%;
    height: 35vh;
    margin-left: 6.5%;
}
.sub4-top-con{
    width: 15%;
    height: 35vh;
    margin-left: 6.5%;
}
.sub5-top-con{
    width: 15%;
    height: 35vh;
    margin-left: 6.5%;
}
.sub1-top-con img{
      width: 200px;
      height: 25vh;
}
.sub2-top-con img{
    width: 200px;
    height: 25vh;
}
.sub3-top-con img{
    width: 200px;
    height: 25vh;
}
.sub4-top-con img{
    width: 200px;
    height: 25vh;
}
.sub5-top-con img{
    width: 200px;
    height: 25vh;
}

/* --below main con-- */


.below-main-con{
    display: flex;
    width: 90%;
    margin-top: 2%;
}

.sub1-below-con{
    
    width: 15%;
    height: 35vh;
    margin-left: 5%;
}
.sub2-below-con{
    width: 15%;
    height: 35vh;
    margin-left: 6.5%;
}
.sub3-below-con{
    width: 15%;
    height: 35vh;
    margin-left: 6.5%;
}
.sub4-below-con{
    width: 15%;
    height: 35vh;
    margin-left: 6.5%;
}
.sub5-below-con{
    width: 15%;
    height: 35vh;
    margin-left: 6.5%;
}
.sub1-below-con img{
      width: 200px;
      height: 25vh;
}
.sub2-below-con img{
    width: 200px;
    height: 25vh;
}
.sub3-below-con img{
    width: 200px;
    height: 25vh;
}
.sub4-below-con img{
    width: 200px;
    height: 25vh;
}
.sub5-below-con img{
    width: 200px;
    height: 25vh;
}


/* ---belower main div-- */

.belower-main-con{
    width: 95%;
    margin-left: 4.5%;
    margin-top: 3%;
    display: flex;
}
.sub1-belower-con{
    background-color: #EAEBEF;
    width: 48%;
    height: 25vh;
    margin-left:0%;
}
.sub2-belower-con{
    background-color: #EAEBEF;
    width: 48%;
    height: 25vh;
    margin-left: 1%;

}

.sub1-belower-con img{
    float: right;
}
.sub2-belower-con img{
    float: right;
}
.sub1-belower-con h1{
    padding-left:5%;
    padding-top: 7%;
    margin: 0%;
}
.sub1-belower-con h4{
    padding-left:5%;
    padding-top: 1%;
    margin: 0%;
}
.sub1-belower-con button{
   margin-left: 5%;
   margin-top: 5%;
   border: none;
   font-weight: bold;
}
.sub2-belower-con h1{
    padding-left:5%;
    padding-top: 7%;
    margin: 0%;
}
.sub2-belower-con h4{
    padding-left:5%;
    padding-top: 1%;
    margin: 0%;
}
.sub2-belower-con button{
   margin-left: 5%;
   margin-top: 5%;
   border: none;
   font-weight: bold;
}

/* ---box-- */

.box{
    display: flex;
    width: 100%;
    margin-top: 5%;
}
.box h1{
    margin-left: 5%;
}
.box h3{
    margin-left: 56.5%;
}
.box h2{
    width: 13%;
    background-color: red;
    color: white;
    margin-left: 2%;
    height: 4vh;
    text-align: center;
    font-size: large;
    padding-top: 5px;
}
.box2{
    margin-left: 4.5%;
    display: flex;
    width: 95%;
    margin-top: 2%;
}
.sub-box2 {
    background-color: #EA3A3A;
    width: 20%;
    height: 35vh;
}
.sub-box2 h1{
    padding-top: 10%;
    padding-left: 10%;
    color: white;
    font-size: xx-large;
    margin-bottom: 0%;
}
.sub-box2 h4{
    color: white;
    margin: 0%;
    padding-left: 10%;
}
.sub-box2 button{
    margin-top: 10%;
    margin-left: 10%;
    width: 60%;
    height: 7vh;
    background-color: #EA3A3A;
    border: 1px white solid;
    color: white;
}
.sub1-box2{
    
    width: 15%;
    height: 35vh;
    margin-left: 4%;
}
.sub2-box2{
    width: 15%;
    height: 35vh;
    margin-left: 4%;
}
.sub3-box2{
    width: 15%;
    height: 35vh;
    margin-left: 4%;
}
.sub4-box2{
    width: 15%;
    height: 35vh;
    margin-left: 4%;
}

.sub1-box2 img{
    width: 200px;
    height: 25vh;
}
.sub2-box2 img{
  width: 200px;
  height: 25vh;
}
.sub3-box2 img{
  width: 200px;
  height: 25vh;
}
.sub4-box2 img{
  width: 200px;
  height: 25vh;
}
.sub1-box2 h4{
    display: inline;
    padding-right: 5%;
    padding-left: 5%;
}
.sub2-box2 h4{
    display: inline;
    padding-right: 5%;
    padding-left: 5%;
}
.sub3-box2 h4{
    display: inline;
    padding-right: 5%;
    padding-left: 5%;
}
.sub4-box2 h4{
    display: inline;
    padding-right: 5%;
    padding-left: 5%;
}
.sub1-box2 p{
    
    padding-left: 5%;
}
.sub2-box2 p{
    
    padding-left: 5%;
}
.sub3-box2 p{

    padding-left: 5%;
}
.sub4-box2 p{
    
    padding-left: 5%;
}
.box2 img{
    margin-left: 4%;
}


/* ---feature box-- */

.feature-box{
    margin-left: 4.5%;
    width: 95%;
    margin-top: 3%;
    display: flex;
}
.sub2-feature-box{
    margin-left: 18%;
}
.sub3-feature-box{
    margin-left: 16%;
}
.sub4-feature-box{
    margin-left: 14.5%;
}


/* ---feature detail box-- */


.feature-detail-box1{
    margin-left: 4.5%;
    width: 95%;
    margin-top: 1%;
    display: flex;
}
.bs-feature1{
    width: 20%;
    height: 20vh;
    /* background-color: #EA3A3A; */
    display: flex;
}
.sp-feature1{
    width: 20%;
    height: 20vh;
    margin-left: 7%;
    /* background-color: aqua; */
    display: flex;
}
.fp-feature1{
    width: 20%;
    height: 20vh;
    margin-left: 180px;
    /* background-color: black; */
    display: flex;
}
.lp-feature1{
    width: 20%;
    height: 20vh;
    margin-left: 100px;
    /* background-color: red; */
    display: flex;
}

#fea1-p{
   padding-left: 15%;
   padding-top: 5%;
   font-weight: bolder;
   font-size: 18px;
   /* margin-bottom: 0%; */
}

.bs-feature1-R h3 {
   padding-left: 15%;
   padding-top: 0%;
   margin-top: 0%;
   font-weight: bolder;
   font-size: large;
}


.bs-feature1-L img{
    width:120px ;
    height: 17vh;
    margin-top: 8%;
}







/* .bs-feature1 p{
    margin-left: 30px;
    margin-right: 10px;
} */

/* ------Footer---- */

.footer-box{
    background-color: #E93939;
    width: 100%;
    display: flex;
    height: 70vh;
    margin-left: 0%;
    margin-right: 0%;
   
}
.footer-box-L{
    background-color: #E93939;
    width: 50%;
    height: 70vh;
    color: white;
    display: flex;
    flex-direction: column;
}
.footer-box-R{
    background-color:#E93939;
    width: 50%;
    height: 70vh;
    
    color: white;
}
.footer-box-L h1{
    padding-top: 5%;
    padding-left: 6%;
    margin-bottom: 2%;
}
.footer-box-L h2{
    margin-top: 0%;
    margin-bottom: 1%;
    /* padding-top: 5%; */
    padding-left: 6%;
    font-weight: normal;
}
.footer-box-R h2{
    padding-top: 5%;
    margin-bottom: 1%;
    /* padding-top: 5%; */
    /* padding-left: 6%; */
    font-weight: normal;
}
.footer-box-R h3{
    margin-top: 2%;
    font-weight: normal;
    font-size: x-large;
    margin-bottom: 0%;
} */
 .footer-box-R h4{
    margin-top: 1%;
    font-weight: normal;
    font-size: x-large;
    margin-bottom: 0%;
}
#mail{
    margin-top: 2%;
    width:55%;
    height: 8vh;
    font-size: larger;
    padding-left: 20px;
    display: block;
}
#txtbox{
    margin-top: 2%;
    width:60%;
    height: 7vh;
    font-size: larger;
    padding-left: 20px;
    display: block;
}
#cap{
    margin-top: 2%;
   
} 
.fb-L-sub{
     width: 30%;
     height: 8vh;
     background-color: rgb(185, 175, 175);
     margin-left: 6%;
     color: black;
     margin-top: 2%;
     display: flex;
     
     
}
.fb-L-sub2 p{
    margin-top: 5px;
    margin-left: 15px;
    
}

.fb-L-sub1 img{
    width: 100%;
    height: 8vh;
}


.back-box11{
    width: 100%;
    margin-top: 5px;
    display: flex;
    background-color: rgb(39, 38, 38);
    height: 60vh;
}
.back-box11 h1{
    font-size: large;
    font-weight: normal;
}
.back-box11 p{
    font-size: medium;
    font-weight: normal;
}
.back-box11 h5{
    font-size: medium;
    font-weight: normal;
    margin-bottom: 0%;
    padding-bottom: 0%;
    margin-left: 5%;
    margin-top: 0%;
    padding-top: 0%;
}
.back-box11 h3{
    font-size: medium;
    font-weight: normal;
    margin-bottom: 0%;
    padding-bottom: 0%;
    margin-left: 5%;
}
.back-box11 h4{
    
    margin-bottom: 0%;
    padding-bottom: 0%;
    margin-left: 0;
}
.back-box11-content{
    width: 40%;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 40px;
}
.back-box11-content1{
    width: 60%;
    display: flex;
    justify-content: left;
    justify-content: space-around;
    padding:40px;
    color: white;
}
.back-box11-content101{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1%;
}
.back-box11-content102{
    width: 50%;
    margin-top: 0%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.back-box12{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    background-color: rgb(39, 38, 38);
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    padding-bottom: 2%;
    padding-top: 1%;
}
.back-box12 ul{
    display: flex;
    list-style: none;
    justify-content: center;
}
.back-box12 ul li{
    padding-left:50px ;
    color: white;
    justify-content: center;
}
#agent-icon{
    margin-left: 0;
    margin-top: 0%;
    margin-bottom: 0%;
    color: #E93939;
}

.back-box13{
    width: 100%;
    height: 5vh;
    display: flex;
padding-top: 3%;
    justify-content: center;
    background-color: rgb(39, 38, 38);
    border-top: solid 1px white;
    border-bottom: solid 1px white;
}

