
.top-container{
    display: flex;
    margin-top: 0%;
}

.top-left-container{
    justify-content: left;
    display: flex;
    margin-left: 1%;
}
.top-right-container{
    display: flex;
    justify-content: right;
    margin-left: 38%;
    font-size: small;
}
#account{
    display: flex;
}
#act{
    margin-right: 6px;
}
#cur{
    border: none;
}
#lang{
    border: none;
    padding-left: 50px;
}
#vline{
    margin-left: 30%;
    margin-top: 7%;
}
#list{
    display: flex;
    font-size:large;
    list-style: none;
    justify-content:  left;
    
   
}
#list li{
    padding-left: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.top-below-container{
    display: flex;
    margin-top: 0%;
    margin-top: 2%;
    width: 100%;
}
.top-below-left-container{
    justify-content: left;
    display: flex;
    margin-left: 1%;
   width: 15%;
}
.top-below-middle-container{
    justify-content: left;
    display: flex;
    margin-left: 4%;
    border: 2px  red solid;
    width: 45%;
    height: 8vh;
   margin-top: 20px;
}
.top-below-right-container{
    justify-content: left;
    display: flex;
    margin-left: 5%;
   
}
#find{
   border: none;
    width: 250px;
}
#contact{
    padding-left: 10%;
}
#cat{
    border: none;
    padding-left: 1%;
}
#wish{
    padding-left: 10%;
    font-size: large;
}
#comp{
    padding-left: 10%;
    font-size: large;
}
#cart{
    padding-left: 10%;
    font-size: large;
}
.inner-container{
    width: 100%;
    background-color: black;
    display: flex;
}
.inner-left-container{
    width: 20%;
    display:block;
    margin-left: 2%;
}
.inner-left-container button {
    background-color: rgb(243, 44, 44);
    width: 100%;
    color: white;
    border: none;
    font: bolder;
    
}

#categories{
    height: 10vh;
    border: none;
    background-color: rgb(243, 44, 44);
    width: 100%;
    color: white;
    font: bold;
    font-size: medium;
}
#categories option{
    background-color: white;
    color: black;
}
#categories option:nth-child(1){
    display: none;
}
#inner-list{
    display: flex;
    font-size:large;
    list-style: none;
    justify-content:  left;
    color: white;
    margin-left: 0px;
   
}

#inner-list li{
    padding-right: 20px;

}
.inner-middle-container{
    display: flex;
    width: 50%;
} 
 .inner-right-container{
    display: flex;
    width: 20%;
}
#inner-list2{
    display: flex;
    font-size:large;
    list-style: none;
    justify-content:  right;
    color: white;
   
    
}
#inner-list2 li{
    padding-left: 8px;
   text-align: right;
}
.sub-inner-container{
    background-color: white;
    width: 100%;
    height: 10vh;
    display: flex;
}
.sub-inner-left-container{
    padding-top: 10%;
    padding-left:25%;
}
.sub-inner-left-container p{
    font-size:x-large;
    color: rgb(252, 58, 58);
    font: bold;
    
}
.sub-inner-left-container h1{
    font-size:50px;
    padding: 0;margin:0;
}
.sub-inner-left-container h4{
    font-size: 30px;
    font-weight: 500;padding: 5px;margin: 0;
}
.sub-inner-left-container h6{
    font-size: large;
    padding: 2px;margin: 0;
}
.sub-inner-left-container button{
    width: 60%;
    height: 8vh;
    font-weight:bold;
    padding: 0;margin-top: 30px;
    background-color: white;
    display: block;
}
.sub-inner-right-container{
    padding-top: 5%;
    margin-left: 5%;
}
.sub-inner-right-container img{
   height: 60vh;
}
#sub-img1{
    width: 70px;
    height: auto;
    margin-top: 10%;
    margin-left: 0%;
    border-radius: 50%;
    border: 2px red solid;
    overflow: hidden;
    display: inline;
    padding: 2%;
  
}
#sub-img2{
    width: 50px;
    height: auto;
    margin-top: 10%;
    margin-left: 5%;
    border-radius: 50%;
    border: 2px gray solid;
    overflow: hidden;
    display: inline;
    padding: 2%;
}
#sub-img3{
    width: 70px;
    height: auto;
    margin-top: 10%;
    margin-left: 5%;
    border-radius: 50%;
    border: 2px gray solid;
    overflow: hidden;
    display: inline;
    padding: 2%;
}
.middle-container{
    margin-top: 35%;
    margin-left: 5%;
    display: flex;
}
.child1-middle-container{
    width: 25%;
    height: 15vh;
    font-size: large;
    border: 1px solid grey;
}
.child2-middle-container{
    width: 25%;
    height: 15vh;
    margin-left: 2%;
    font-size: large;
    border: 1px solid grey;
}
.child3-middle-container{
    width: 25%;
    height: 15vh;
    margin-left: 2%;
    font-size: large;
    border: 1px solid grey;
}
.child4-middle-container{
    width: 25%;
    height: 15vh;
    margin-left: 2%;
    font-size: large;
    border: 1px solid grey;
}
#child1-para1{
    padding-left: 60px;
  padding-top: 30px; 
  margin: 0%; 
   /* padding-bottom: 0%; */
  font-size: large;
  font-weight: bolder;
  position: absolute;
}
#child1-para2{
    padding-left: 60px;
  padding-top: 50px; 
  position: absolute;
  margin: 0%; 
   /* padding-bottom: 0%; */
  font-size: large;
  font-weight:lighter;
  
}
#child1-icon{
    padding-top: 40px;
    padding-left: 20px;
    position: absolute;
  }
  #child2-para1{
    padding-left: 70px;
  padding-top: 30px; 
  margin: 0%; 
   /* padding-bottom: 0%; */
  font-size: large;
  font-weight: bolder;
  position: absolute;
}
#child2-para2{
    padding-left: 70px;
  padding-top: 50px; 
  position: absolute;
  margin: 0%;
   /* padding-bottom: 0%; */
  font-size: large;
  font-weight:lighter;
  
}
#child2-icon{
    padding-top: 40px;
    padding-left: 20px;
    position: absolute;
  }


/* below-middle-container */

.below-middle-container{
    margin-top: 5%;
    margin-left: 5%;
    display: flex;
}
.child1-below-middle-container{
    width: 30%;
    height: 30vh;
    font-size: large;
    border: 1px solid grey;
    background-size: cover;
    background-color: #DEDAD9;
}
.child2-below-middle-container{
    width: 30%;
    height: 30vh;
    margin-left: 3%;
    font-size: large;
    border: 1px solid grey;
    background-color: #DEDAD9;
}
.child3-below-middle-container{
    width: 30%;
    height: 30vh;
    margin-left: 3%;
    font-size: large;
    border: 1px solid grey;
    background-color: #DEDAD9;
}
.child1-below-middle-container h1{
    padding-left: 6%;
    padding-top: 15%;
    margin: 0%;
    font-weight: bolder;
}
.child1-below-middle-container h4{
    padding-left: 6%;
    margin: 0%;
    font-weight: 600;
    display: flex;
}
.child1-below-middle-container h4 small{
    color: red;
    font-size: large;
}
.child1-below-middle-container button{
    border: none;
    padding-top: 10%;
    padding-left: 6%;
    font-weight: bold;
    font-size: medium;
    background-color: #DEDAD9;
}
.child1-below-middle-container img{
    float: right;
    height: 31vh;
}


.child2-below-middle-container h1{
    padding-left: 6%;
    padding-top: 15%;
    margin: 0%;
    font-weight: bolder;
}
.child2-below-middle-container h4{
    padding-left: 6%;
    margin: 0%;
    font-weight: 600;
    display: flex;
}
.child2-below-middle-container h4 small{
    color: red;
    font-size: large;
}
.child2-below-middle-container button{
    border: none;
    padding-top: 10%;
    padding-left: 6%;
    font-weight: bold;
    font-size: medium;
    background-color: #DEDAD9;
}
.child2-below-middle-container img{
    float: right;
    height: 25vh;
}


.child3-below-middle-container h1{
    padding-left: 6%;
    padding-top: 15%;
    margin: 0%;
    font-weight: bolder;
}
.child3-below-middle-container h4{
    padding-left: 6%;
    margin: 0%;
    font-weight: 600;
    display: flex;
}
.child3-below-middle-container h4 small{
    color: red;
    font-size: large;
}
.child3-below-middle-container button{
    border: none;
    padding-top: 10%;
    padding-left: 6%;
    font-weight: bold;
    font-size: medium;
    background-color: #DEDAD9;
}
.child3-below-middle-container img{
    float: right;
    height: 31vh;
}


span {
   font-size: x-large;
   font-weight: bolder;
   margin-left: 5%;
   display: flex;
   margin-top: 5%;
   width: fit-content;
}
.head2{
    float: right;
    font-size: medium;
    margin-top: 0%;
    margin-right: 5%;
}
hr {
    margin-left: 20%;
    margin-right: 13%; 
}


/* inside-container */
.inside-container{
    width: 95%;
    margin-left: 5%;
    display: flex;
}

.child1-inside-container{
    border: 2px red solid;
    width: 45%;
    height: 50vh;
    margin-top: 2%;
}
.child2-inside-container{
    border: 2px red solid;
    width: 45%;
    height: 50vh;
    margin-left: 2%;
    margin-top: 2%;
}
#img1{
    float: left;
    width: 300px;
    margin-top: 15%;
}
#img2{
    float: left;
    width: auto;
    margin-top: 35%;
    margin-left: 10%;
}
#con2-img{
    float: left;
    width: auto;
    margin-top: 50%;
    margin-left: 10%;
}
#con2-img2{
    float: left;
    width: auto;
    margin-top: 90%;
    margin-left: 10%;
}
#img-1{
    float: left;
    width: auto;
    margin-top: 45%;
}
#img-2{
    float: left;
    width: auto;
    margin-top: 80%;
    margin-left: 10%;
}
#con3-img2{
    float: left;
    width: auto;
    margin-top: 60%;
    margin-left: 10%;
}
.sub-child1-inside-container {
    width: 40%;
    height: 10vh;
    background-color: #EA3A3A;
    margin-top: 30%;
    margin-left: 2%;
    display: flex;

}
.con{
    margin-left: 50%;
    /* height: 50vh; */
      width: 50%;
    /* margin-left: 50%; */

}
.con2{
    margin-right: 10%;
    width: 10%;
    height: 10vh;
    display: block;
}
#sub-child1-p1{
    padding-left: 5%;
    /* padding-top: 2%; */
    color: white;
    font-weight: bold;
    font-size: larger;
    /* display: inline; */
}
#sub-child1-p2{
    padding-left: 5%;
    /* padding-top: 2%; */
    color: white;
    font-weight: bold;
    font-size: larger;
   
}
#sub-child1-p3{
    padding-left: 5%;
    /* padding-top: 2%; */
    color: white;
    font-weight: bold;
    font-size: larger;
    
}
#sub-child1-p4{
    padding-left: 10%;
    /* padding-top: 2%; */
    color: white;
    font-weight: bold;
    font-size: larger;
}
#child1-top1{
    padding: 0%;
    margin: 0%;
    
}
#child1-top2{
    
    margin: 0%;
}
#con-btn{
    margin-top: 10%;
    font-size: medium;
    width: 60%;
    height: 8vh;
}
#con-act{
    margin-left: 5%;
}





/* --three main divs-- in one section*/

/* ---top main con-- */

.top-main-con{
    display: flex;
    width: 90%;
}
.sub1-top-con{
    
    width: 15%;
    height: 35vh;
    margin-left: 6%;
}
.sub2-top-con{
    width: 15%;
    height: 35vh;
    margin-left: 6%;
}
.sub3-top-con{
    width: 15%;
    height: 35vh;
    margin-left: 6%;
}
.sub4-top-con{
    width: 15%;
    height: 35vh;
    margin-left: 6%;
}
.sub5-top-con{
    width: 15%;
    height: 35vh;
    margin-left: 6%;
}
.sub1-top-con img{
      width: 200px;
      height: 25vh;
}
.sub2-top-con img{
    width: 200px;
    height: 25vh;
}
.sub3-top-con img{
    width: 200px;
    height: 25vh;
}
.sub4-top-con img{
    width: 200px;
    height: 25vh;
}
.sub5-top-con img{
    width: 200px;
    height: 25vh;
}

/* --below main con-- */


.below-main-con{
    display: flex;
    width: 90%;
    margin-top: 2%;
}

.sub1-below-con{
    
    width: 15%;
    height: 35vh;
    margin-left: 6%;
}
.sub2-below-con{
    width: 15%;
    height: 35vh;
    margin-left: 6%;
}
.sub3-below-con{
    width: 15%;
    height: 35vh;
    margin-left: 6%;
}
.sub4-below-con{
    width: 15%;
    height: 35vh;
    margin-left: 6%;
}
.sub5-below-con{
    width: 15%;
    height: 35vh;
    margin-left: 6%;
}
.sub1-below-con img{
      width: 200px;
      height: 25vh;
}
.sub2-below-con img{
    width: 200px;
    height: 25vh;
}
.sub3-below-con img{
    width: 200px;
    height: 25vh;
}
.sub4-below-con img{
    width: 200px;
    height: 25vh;
}
.sub5-below-con img{
    width: 200px;
    height: 25vh;
}


/* ---belower main div-- */

.belower-main-con{
    width: 90%;
    margin-left: 7%;
    margin-top: 3%;
    display: flex;
}
.sub1-belower-con{
    background-color: #EAEBEF;
    width: 45%;
    height: 25vh;
    margin-left:2%;
}
.sub2-belower-con{
    background-color: #EAEBEF;
    width: 45%;
    height: 25vh;
    margin-left: 1%;

}

.sub1-belower-con img{
    float: right;
}
.sub2-belower-con img{
    float: right;
}
.sub1-belower-con h1{
    padding-left:5%;
    padding-top: 7%;
    margin: 0%;
}
.sub1-belower-con h4{
    padding-left:5%;
    padding-top: 1%;
    margin: 0%;
}
.sub1-belower-con button{
   margin-left: 5%;
   margin-top: 5%;
   border: none;
   font-weight: bold;
}
.sub2-belower-con h1{
    padding-left:5%;
    padding-top: 7%;
    margin: 0%;
}
.sub2-belower-con h4{
    padding-left:5%;
    padding-top: 1%;
    margin: 0%;
}
.sub2-belower-con button{
   margin-left: 5%;
   margin-top: 5%;
   border: none;
   font-weight: bold;
}

/* ---box-- */

.box{
    display: flex;
    width: 100%;
    margin-top: 5%;
}
.box h1{
    margin-left: 10%;
}
.box h3{
    margin-left: 45%;
}
.box h2{
    width: 13%;
    background-color: red;
    color: white;
    margin-left: 1%;
    height: 5vh;
    text-align: center;
    font-size: large;
    padding-top: 10px;
}
.box2{
    margin-left: 5%;
    display: flex;
    width: 95%;
    margin-top: 2%;
}
.sub-box2 {
    background-color: #EA3A3A;
    width: 20%;
    height: 40vh;
}
.sub-box2 h1{
    padding-top: 10%;
    padding-left: 10%;
    color: white;
    font-size: xx-large;
    margin-bottom: 0%;
}
.sub-box2 h4{
    color: white;
    margin: 0%;
    padding-left: 10%;
}
.sub-box2 button{
    margin-top: 10%;
    margin-left: 10%;
    width: 60%;
    height: 7vh;
    background-color: #EA3A3A;
    border: 1px white solid;
    color: white;
}
.sub1-box2{
    
    width: 15%;
    height: 35vh;
    margin-left: 2%;
}
.sub2-box2{
    width: 15%;
    height: 35vh;
    margin-left: 2%;
}
.sub3-box2{
    width: 15%;
    height: 35vh;
    margin-left: 2%;
}
.sub4-box2{
    width: 15%;
    height: 35vh;
    margin-left: 2%;
}

.sub1-box2 img{
    width: 200px;
    height: 25vh;
}
.sub2-box2 img{
  width: 200px;
  height: 25vh;
}
.sub3-box2 img{
  width: 200px;
  height: 25vh;
}
.sub4-box2 img{
  width: 200px;
  height: 25vh;
}
.box2 img{
    margin-left: 4%;
}


/* ------Footer---- */

/* .footer-box{
    background-color: #E93939;
    width: 85%;
    height: 80vh;
    margin-left: 10%;
} */