.header{
   background-image: url('https://images.unsplash.com/photo-1528459801416-a9e53bbf4e17?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=412&q=80');
   background-size:cover;
   background-repeat: no-repeat;
  

}
.box{
    background-image: url('https://images.unsplash.com/photo-1522441815192-d9f04eb0615c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=327&q=80');
    height: 200px;
    background-size: contain;
    width: 100%;
    padding-top: 25px;
    margin-bottom: 0%;
}
.blog{
    font-size: 100px;
    color:black;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 1px;
    text-decoration:double;
    
    
    
}
.hd1{
    color:black;
    margin-bottom: 0%;
    font-size: 50px;
    margin-top: 0%;
}
.para1{
    font-size: x-large;
    width: auto;
    margin-left: 10px;
    
}
.para2{
    font-size: x-large;
    width: auto;
    margin-left: 10px;
}
.ulist{
    font-size: 22px;
}
.para3{
    font-size: x-large;
    width: auto;
    margin-left: 10px;
}
.olist{
    font-size: 22px;
}
.ol1{
    font-size: 28px;
}
.ul1{
    font-size: 22px;
}
.par{

    font-size: x-large;
    width: auto;
    margin-left: 10px;
}
.par1{
    font-size: x-large;
    width: auto;
    margin-left: 10px;
}
.ol2{
    font-size: 28px;
}
.par2{
    font-size: x-large;
    width: auto;
    margin-left: 10px;
}
.ol3{
    font-size: 28px;
}
.par3{
    font-size: x-large;
    width: auto;
    margin-left: 10px;
}
.para4{
    font-size: x-large;
    width: auto;
}
.para5{
    font-size: x-large;
    width: auto;
    margin-left: 10px;
}
.olist1{
    font-size: 22px;
}
.para6{
    font-size: x-large;
    width: auto;
    margin-left: 10px;
}