.h {
    text-align: center;
    font-size: 70px;
    color:#1E90FF;
}
.h1{
   font-size: 45px;
   margin-left: 10px;
}
.img1{
   float: right;
   width: 300;
   height: 400;

}
.para{
   font-size: 30px;
   margin-left: 10px;
   margin-right: 370px;
}
.h2{
   font-size: 35px;
   margin-left: 10px;
}
.para1{
   font-size: 25px;
   margin-left: 10px;
   margin-right: 300px;
}

.h3{
   font-size: 35px;
   margin-left: 10px;
}
.para2{
   font-size: 25px;
   margin-left: 10px;
   margin-right: 250px;
}
.img3{
   width: 300;
   height: 400;
   margin-left: 250px;

}
.para3{
    font-size: 25px;
    margin-left: 10px;
    margin-right: 250px;
 }