.top-container{
    margin-left: 30px;
}
.inner-container{
    background-color:darkblue;
    position: absolute;
    width: 100%;
    
}
#list{
    color: white;
    display: flex;
    font-size:large;
    list-style: none;
    justify-content:  left;
    
    font: bold;
    
   
}
#list li{
    margin-left: 15px;
    
    
}
#list li:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    font-size: x-large;
}
.bottom-container img{
width: 100%;    
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.exp{
    font-size: x-large;
}