.body{
    background-image:url('https://images.unsplash.com/photo-1579548122080-c35fd6820ecb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    background-size:cover;
    background-repeat: no-repeat;
}
.form{
    background-color: white;
    margin-left: 450px;
    margin-right: 450px;
    padding-left: 50px;
    margin-top: 100px;
    margin-bottom: 50px;
}
.header{
    
    color:black;
    margin-right: 10px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: xx-large;
   
}
.reset{
    size: 50px;
    font-size: 20px;
    margin-bottom: 10px;
    
}
.btn{
    size:50px;
    font-size: 20px;
    margin-bottom:10px ;
    margin-left: 20px;
    margin-right: 10px;
}